body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
}
.container {
  // outline: 1px dashed yellow;
  width: 1000px;
  margin: 0 auto;
} // end of .container




///////////// here begins the styling for the .header section

.header {
  position: fixed;
  background: #D6D6C5;
  width: 100%;
  height: 40px;
  top: 0;
  border-bottom: 1px solid #B1B18A;
    
    .home {
      display: inline-block;
      margin: 10px auto;
      color: #525252;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;

    }

    .home:hover{
      color: rgba(82, 82, 82, 0.6);
      border-bottom: 4px solid rgba(82, 82, 82, 0.6);
      padding-bottom: 3px;
    }
      .logo {
        display: inline-block;
        margin-left: 43%;
        width: 0; 
        height: 0; 
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        
        border-bottom: 17px solid #525252;
        // height: 20px;
        // background: #FFF;
      }      

      .logo:hover{
        border-bottom: 17px solid rgba(82, 82, 82, 0.6);
      }

        .search {
          float: right;
          margin-top: 10px;
          height: 13px;
          width: 120px;
          border-radius: 10px;
          padding-left: 10px;
          text-align: left;
          color: gray;

        }    

} // end of .header


