body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0px;
    padding: 0px;
}
.container {
  outline: 1px dashed yellow;
  width: 1000px;
  margin: 0 auto;
} // end of .container




///////////// here begins the styling for the .header section

.header {
  outline: 1px dashed lime;
  height: 100px;
  color: black;

} // end of .header


/////////////// here begins the styling for the .main section
.main {
  outline: 1px dashed lime;

.backbox {
  width: 865px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  outline: 1px dashed black;
  background: rgba(241, 228, 228, 0.35)

}


/////////////////////////// here begins the styling for the .sidebar section
  .sidebar {
    outline: 1px dashed red;
    width: 290px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-left: 16px;

    .profile {
      outline: 1px dashed purple;
      height: 300px;
      border: 2px solid gray;
      background: rgba(128, 128, 128, 0.83);


    } 

  .profpic {
    outline: 1px dashed blue;
    width: 200px;
    height: 190px;
    margin: 0 auto;
    position: relative;
    top: 12%;
  

  }


  .posts {
    outline: 1px dashed red;
    height: 70px;
    width: 290px;
    margin: 0 auto;
    position: relative;
    top: 13%;

  }

  .tweetnum {
    outline: 1px solid white;
    display: inline-block;
    height: 70px;
    width: 90px;


  }

  .following {
     outline: 1px solid white;
     display: inline-block;
     height: 70px;
     width: 94px;


  }

  .followers {
    outline: 1px solid white;
    display: inline-block;
    height: 70px;
    width: 94px;

  }




    // end of .profile

    .links {
      outline: 1px dashed purple;
      height: 500px;

    } // end of .links

  } // end of .sidebar




////////////////here begins the styling for the .stream section

  .stream {
    outline: 1px dashed red;
    width: 690px;
    margin-left: 16px; // to give the margin btw stream and sidebar
    vertical-align: top;
    display: inline-block;
    
    .compose {
      outline: 1px dashed purple;
      height: 300px;
    } // end of .compose

    .tweets {
      outline: 1px dashed purple;
      vertical-align: top;

      .tweet {
        outline: 1px dashed purple;
        height: 150px;

      } // end of .tweet

    } // end of .tweets

  } // end of .strem
  
} // end of .main



