$green: rgb(60, 80, 8);
$litegreen: rgb(176, 197, 118);
$tan: rgb(200, 201, 121);
$gravel: rgb(214, 214, 197);
$lime: rgb(179, 206, 63);

@import "compass";

#page-wrap {

  &.dialogIsOpen {

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(1.02);
  -webkit-transition: all 0.4s ease;
}

}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  // outline: 1px dashed yellow;
  width: 1000px;
  margin: 0 auto;
} // end of .container

$main-bg-color: #D6D6C5;
$main-txt-color: #525252;

.discript {
  width: 100%;
  display: inline-block;
  margin: 8px 7px;
  font-size: 1.0em;
  font-family: georgia;
  font-style: italic;
}

.num {
  margin: 1px 8px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}



///////////// here begins the styling for the .header section

.header {
  position: fixed;
  background: $main-bg-color;
  width: 100%;
  height: 40px;
  top: 0;
  border-bottom: 1px solid #B1B18A;
  z-index: 20;
  .home {
    display: inline-block;
    margin: 10px auto;
    color: $main-txt-color;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
    .home:hover{
      color: rgba(82, 82, 82, 0.6);
      border-bottom: 4px solid rgba(82, 82, 82, 0.6);
      padding-bottom: 3px;
    }
      .logo {
        display: inline-block;
        margin-left: 43%;
        width: 0; 
        height: 0; 
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;   
        border-bottom: 17px solid #525252;
      }      
        .logo:hover {
          border-bottom: 17px solid rgba(82, 82, 82, 0.6);
        }


        .profile-chooser { //this used to be the .search class 
          border-left: 1px solid #B1B18A;
          border-right: 1px solid #B1B18A;
          float: right;
          margin: 0px;
          height: 40px;
          width: 180px;
          text-align: left;
          color: rgba(15, 15, 15, 0.5);
          cursor: pointer;

          &:hover {
            background: gray;
          }

          .avatar {
            margin: 5px 15px;
            vertical-align: middle;
            display: inline-block;
            @include border-radius(50%);
            width: 30px;
            height: 30px;
            overflow: hidden;
            
            img {
              width: 30px;
            } // end of img

          } // end of .avatar

          ul {
            list-style-type: none;
            background: rgba(255, 255, 255, 0.9);
            padding: 5px 20px;
            margin-top: 1px;
            @include single-transition(all, 0.3s, ease-in-out);
            overflow: hidden;
            height: 235px;

            &.hidden{
              height: 0px;
              opacity: 0;
            }

            li {
              margin-left: -5px;
              margin-top: 10px;
              margin-bottom: 10px;
              padding-bottom: 6px;
              border-bottom: 1px solid $main-txt-color;
              cursor: pointer;

              &:hover .chooser-name{
                color: $main-bg-color;
              }

              &:last-child {
                border-bottom: none;
              }

              .chooser-avatar {
                vertical-align: middle;
                display: inline-block;
                width: 30px;
                height: 30px;
                @include border-radius(50%);
                overflow: hidden;

                img {
                  width: 30px;
                }

              } // end of .chooser-avatar
              .chooser-name {
                margin-left: 10px;
                display: inline-block;
              } //end of .chooser-name

            } // end of li

          } // end of ul


        }  // end of .profile-chooser  

} // end of .header




/////////////// here begins the styling for the .main section

.main {
  margin-top: 80px;
  .backbox {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    background: rgba(241, 228, 228, 0.05);
  }



/////////////////////////// here begins the styling for the .sidebar section
.sidebar {
  width: 290px;
  vertical-align: top;
  display: inline-block;
}

.top {
  width: 290px;
  height: 35px;
  background: $main-bg-color;
  color: #FFF;
  margin: 0;
  border-radius: 5px 5px 0 0;
  h3 {
      margin: 0 auto;
      text-align: center;
      line-height: 35px;
      color: $main-txt-color;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;  
    }
}

.outerbox {
  height: 280px;
  border: 4px solid $main-bg-color;
  background: rgba(247, 247, 247, 0.69);
    .profpic {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      margin: 20px auto;
      border: 2px solid $main-bg-color;
      overflow: hidden; 
    }
    .profname {
      margin: 0 36px;
      text-transform: uppercase;
      color: #525252;
      text-align: center;
      letter-spacing: 2px;
      border-bottom: 3px solid #525252;
      padding-bottom: 7px;
    }
    .proflocation {
      margin: 9px 33px;
      text-align: center;
      font-weight: lighter;
      color: $main-txt-color;
      letter-spacing: 2px;
    }
      .proflocation:hover {
        font-style: italic;
      }
 } 


.posts {
  height: 70px;
  width: 282px;
  margin: 0 auto;  
  border-right: 4px solid $main-bg-color;
  border-left: 4px solid $main-bg-color;
  border-bottom: 4px solid $main-bg-color;
  color: $main-txt-color;
  .tweetnum {
    display: inline-block;
    height: 70px;
    width: 90px;
    border-right: 4px solid $main-bg-color;
    padding-left: 2px;
  } 
  .following {
    display: inline-block;
    height: 70px;
    width: 90px;
    border-right: 4px solid $main-bg-color;
  }  
  .locations {
    display: inline-block;
    height: 70px;
    width: 84px;
  }
}

.links {
  margin-top: 40px;
}

.two {
  height: 500px
}

////////////////here begins the styling for the .stream section

  .stream {
    width: 690px; 
    margin-left: 16px; // to give the margin btw stream and sidebar
    vertical-align: top;
    display: inline-block;
    

    .three{
      height: 45px;
      width: 690px;
    }

    .compose {
      height: 130px;
      width: 682px;
      margin: 0 auto;
      border: 4px solid $main-bg-color;
      background: rgba(247, 247, 247, 0.69);

      }

    } 

.expand {
  background: gba(247, 247, 247, 0.69);
  width: 300px;
  height: 75px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: 24px;
  color: $main-txt-color;
  line-height: 70px;
  box-shadow: inset 0 1px 0 1px #596D4C;
  text-shadow:1px 1px 0px #ADB1A9;
  font-size: 40px;
  margin-left: 100px;
  vertical-align: top;

}

.button { 
  background: rgba(214,214,197,1);
  width: 200px;
  height: 75px;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
  color: $main-txt-color;
  line-height: 70px;
  box-shadow: inset 0 1px 0 1px #596D4C;
  text-shadow:1px 1px 0px #ADB1A9;
  font-size: 40px;
  display: inline-block;

}

 .four {  //formally tweettitle
        margin-top: 40px;
        width: 690px;
        height: 45px;
        font-size: 22px;
      
      }


  } // end of .stream
  



/////////////// starting tweet styling

.tweet {
  border-right: 4px solid $main-bg-color;
  border-left: 4px solid $main-bg-color;
  border-bottom: 1px solid $main-bg-color;
  width: 682px;
  height: 150px;
  position: relative;
  z-index: 10;
   .tweet-header {
    padding-top: 35px;
   }
    .name {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
      padding-right: 10px;
      color: $main-txt-color;
    }
    .location{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: lighter;
      font-size: 15px;
      padding-right: 10px; 
      letter-spacing: 1px;
      color: $main-txt-color;
    }
   .avatar {
      overflow: hidden;
      width: 90px;
      height: 90px;
      margin: 25px;
      border-radius: 100%;
      float: left;
  }

  .avatar-pic {
    width: 90px;
  }
  
  .message {
    width: 419px;
    height: 67px;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    overflow-x: hidden;
  }
  .tweet-footer {
    position: absolute;
    right: 17px;
    bottom: 11px;
  }
    .isFavorite {
      width: 32px;
      bottom: -3px;
      right: 54px;
      position: absolute;
    }
}



#myModal {
  background-color: #fff;
  position: fixed;
  width: 60%;
  height: 32%;
  top: 50%;
  left: 50%;
  margin: -15% 0 0 -25%;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);


  &.dialogIsOpen {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }


  .modalheader {
    width: 100%;
    height: 35px;
    background: $main-bg-color;
    color: #FFF;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    
  
  
  }

  .close {
    pointer-events: auto;  
    margin-left: 90%;  

  }


  .modalbody {
    max-height: 245px;
    width: 100%;
    background: rgba(247, 247, 247, 0.69);
   } 


  .share {
    height: 100px;
    width: 99%;
    text-align: left;
    color: gray;
    margin: 0 auto;
    display: inline-block;

    }

  .sharelocation {
   height: 40px;
   width: 40%;
   display: inline-block;
  }

  .sharebutton {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-left: 80%;
    background: rgba(214,214,197,1);
    display: inline-block;
    position: relative;
  }

  .modalfooter {
    height: 60px;
    background: $main-bg-color;
    color: #FFF;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
  }

}
    


