<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>groupProject1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



<!-- Just as an example -->

<div class="header">
  <div class="container">
    <span class="home">home</span>
    <div class="logo">
    </div>
    <input class="search" type="text" name="input" value="search">
  </div>
</div>


<div class="main">
    <div class="container">
        <div class="backbox">
            <div class="sidebar">
                <div class="top">
                <h3>Trails</h3>
                </div>
                <div class="profile">
                    <div class="profpic"></div>
                        <div class="posts">
                            <div class="tweetnum"></div>
                         <div class="following"></div>
                            <div class="followers"></div>
                        </div> 
                </div>       <!-- end of posts -->
                <div class="links"></div>
            </div> <!-- end of .sidebar div -->
        
        <div class="stream">
            <div class="compose">
                <div class="composetitle">Compose</div>
                <input class="share" type="text" name="input" value="share">
                <input class="sharelocation" type="text" name="input" value="location">
                <div class="sharebutton">Share</div>

            </div>  <!-- end of compose -->
            <div class="tweets">
                <div class="tweettitle">Your Stream</div>
                <!-- inside this tweets div will probably be where all of the templates get append() to -->
                <div class="tweet">
                    <div class="avatar">
                        <img class="avatar-pic" src="http://www.lorempixel.com/150/150/people">
          <!--       <img class="avatar-pic" src="<%= avatar %>"> -->
                    </div> <!-- end of div.avatar -->
                    <div class="tweet-header">
                        <span class="name">Billy Bob Joe</span>
                        <span class="location">Table Top Rock</span>
                        <span class="time">30 Jan, 2014</span>
                    </div>
                    <div class="message">Wow, Table Top is such an amazing summit. We'll definitely come back next time!</div>
                    <div class="tweet-footer">
                        <img class="isFavorite" src="http://www.placehold.it/25x25">
                <!-- <img class="isFavorite" src="<%= isFavorite %>"> -->
                        <span>&lt favorite</span>
                </div> <!-- end of the .tweet div -->
            </div> <!-- end of the tweets div -->
        </div> <!-- end of the .stream div -->
    </div>   <!--end of the backbox div -->
    </div> <!-- end of container div for the main page content -->
</div> <!-- end of the .main div which is everything after the header div -->


<script class="tweet-template" type="text/template">
    <div class="tweet">
        <div class="avatar">
            <img class="avatar-pic" src="<%= avatar %>">
        </div> // <!-- end of div.avatar -->
        <div class="tweet-header">
            <span class="name"><%= name %></span>
            <span class="location"><%= location %></span>
            <span class="time"><%= time %></span>
        </div>
        <div class="message"><%= msg %></div>
        <div class="tweet-footer">
            <img class="isFavorite" src="<%= isFavorite %>">
            <span>&lt favorite</span>
    </div> //<!-- end of the .tweet div -->
</script>



        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
